html {
	background-image: url('images/background.jpg');
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	width:99%;
}

#profile {
	width: 180px;
	border-radius: 100px;
	margin-top: 20px;
}

p, a, h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	text-decoration: none;
}

p, h1, h2, h3, h4, h1 { color: white; }

a { color: #3385ff; }

h1 { font-size: 40px; padding-top: 20px;}

h3 { margin-bottom: -4px; }

.indent {
	margin-left: 8px;
	margin-bottom: 10px;
}

#about, #projects, #top-bar{
	display: inline-block;
	vertical-align: top;
	margin: auto;
	text-align: left;
	width: 360px;
	height: 560px;
	margin: 10px;
	padding: 40px;
	padding-top: 20px;
	margin-top: 30px;
	box-sizing: border-box;
	border-radius: 10px;

	background-color: rgba(0, 0, 0, 0.7);
}

#github {
	color: white;
}

#top-bar {
	text-align: center;
}

ul {
	padding: 0;
}

li {
	display: inline-block;
}


h2 {
	font-size: 25px;
	text-align: center;
}

h3 {
}

body {
	width: 100%;
	text-align: center;
	margin:0px;
}